/* Global styles for the document */
body {
    background-color: #FCEBB6;
    color: #221811;
    font-family: Tahoma, Arial, sans-serif;
}

/* Header element selector */
header {
    text-align: center;
    background-color: #D2B48C;
    color: #8C3826;
}

/* h1 element selector */
h1 {
    line-height: 200%;
}

/* h2 element selector */
h2 {
    color: #8C3826;
}

/* nav element selector */
nav {
    text-align: center;
    font-weight: bold;
}

/* Footer element selector */
footer {
    background-color: #D2B48C;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
}

/* Remove <b> elements in navigation area */
nav b {
    display: none; /* Hide <b> elements */
}

#wrapper {
    width: 80%;
    background-color: #FEFAEB;
    margin-right: auto;
    margin-left: auto;
}
/* Import the Lobster font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Update link colors and text decoration for navigation links */
nav a, header a {
    color: #FFA500; /* Change link color to orange */
    text-decoration: none; /* Remove underline from links */
}

/* Link variations: Hover and Visited for navigation links */
nav a:hover, header a:hover {
    color: #FFD700; /* Change link color to gold on hover */
}
nav a:visited, header a:visited {
    color: #800080; /* Change color for visited links to purple */
}